<div class="row">
  <div class="col-xs-4 start-xs">
    <div class="box">
      <mat-card>
        <mat-card-title> Seleccione archivos </mat-card-title>
        <mat-card-content>
          <h4>Deje caer aquí los archivos</h4>
          <div
            appNgDropFiles
            [archives]="archives"
            (OverMouse)="isOnTheElement = $event"
            [ngClass]="{ 'file-over': isOnTheElement }"
            class="well drop-zone"
          >
            <img src="assets/img/drop-images.png" alt="" />
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="col-xs-8 start-xs">
    <div class="box content-right">
      <mat-card>
        <button
          (click)="loadImages()"
          [disabled]="archives.length === 0"
          mat-raised-button
          color="primary"
        >
          Cargar a Firebase
        </button>
        <button (click)="clearFiles()" mat-raised-button color="warn">
          Limpiar
        </button>
        <mat-card-content>
          <table>
            <thead>
              <tr>
                <th>Nombre del archivo</th>
                <th>Tamaño</th>
                <th>progreso</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of archives">
                <td [ngClass]="{ 'text-green': item.progress >= 100 }">
                  {{ item.nameArchive }}
                </td>
                <td>
                  {{ item.archive.size / 1024 / 1024 | number: ".2-2" }} MB
                </td>
                <td>
                  <mat-progress-bar
                    mode="determinate"
                    value="100"
                    [ngStyle]="{ width: item.progress + '%' }"
                  ></mat-progress-bar>
                </td>
              </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
